<section class="pt-3 pb-3 bg-dark inner-header navbar-dark top-bar fixed">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div *ngIf="!authService.userLoggedIn()">
                    <a class="text-white" href="/login" style="margin-left: 90%"><i class="fas fa-user"></i> Login</a>
                </div>
                <div *ngIf="authService.userLoggedIn()">
                    <a class="text-white" (click)="logout()" style="margin-left: 90%"><i class="fas fa-power-off"></i> Logout</a>
                </div>
                <h1 class="mt-0 mb-3 text-white">HUNGRY</h1>
                <div class="breadcrumbs">
                    <div>
                            <a class="text-success" href="/welcome">Home</a>  / 

                            <a class="text-white" [routerLink]="'/allrecipes'">All recipes
                                <span class="sr-only">(current)</span>
                            </a>
                         / 
                        <a class="text-white" href="/addrecipes" *ngIf="authService.userLoggedIn()">Add Recipe</a>
                         / 
                        <a class="text-white" href="/manage-users" *ngIf="authService.isAdmin() ">Manage Users</a>
                         / 
                        <a class="text-white"
                           href="/app-user-recipes" *ngIf="authService.isAdmin() || authService.isModerator()">Recipe users
                        </a>

                    </div>
                    </div>


                <!-- <div>  / 

                     <p class="mb-0 text-white">
                         <a class="text-white" href="/signup">Register
                     </a></p>
                 </div>-->


            </div>
        </div>
    </div>
</section>
