
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
    <form>
      <form class="text-center border border-light p-5" action="#!" autocomplete="off">

        <p class="h4 mb-4">Register</p>

        <!-- Email -->
        <input type="text" id="email" name="email" class="form-control mb-4" placeholder="Email" [(ngModel)]="user.email">

        <!-- Password -->
        <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Password" [(ngModel)]="user.password">
        <!-- firstname -->
        <input type="text" id="firstname" name="firstname" class="form-control mb-4" placeholder="Firstname" [(ngModel)]="user.firstname">

        <!-- surname -->
        <input type="text" id="surname" name="surname" class="form-control mb-4" placeholder="Surname" [(ngModel)]="user.surname">

        <!-- phone -->
        <input type="text" id="phone" name="phone" class="form-control mb-4" placeholder="Phone number" [(ngModel)]="user.phoneNumber">

        <div class="d-flex justify-content-around">
          <div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
              <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
          </div>

        </div>

        <button class="btn btn-info btn-block my-4" type="submit" (click)="register() " >Sign up
        </button>

        <!-- Register -->
        <p>Already a have account?
          <a href="/login">Login</a>
        </p>
      </form>
    </form>
  </div>
</div>
