<!--
&lt;!&ndash; Default form login &ndash;&gt;
<body>
<div id="form-wrapper">
  <form>
    &lt;!&ndash; Default form login &ndash;&gt;
    <form class="text-center border border-light p-5" action="#!" autocomplete="off">

      <p class="h4 mb-4">Login</p>

      &lt;!&ndash; Email &ndash;&gt;
      <input type="email" name="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="email"
      >

      &lt;!&ndash; Password &ndash;&gt;
      <input type="password" name="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" [(ngModel)]="password">

      <div class="d-flex justify-content-around">
        <div>
          &lt;!&ndash; Remember me &ndash;&gt;
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
          </div>
        </div>
        <div>
          &lt;!&ndash; Forgot password &ndash;&gt;
          <a href="">Forgot password?</a>
        </div>
      </div>

      &lt;!&ndash; Sign in button &ndash;&gt;
      <button class="btn btn-info btn-block my-4" type="submit" (click)="login()" >Sign in</button>

      &lt;!&ndash; Register &ndash;&gt;
      <p>Not a member?
        <a href="/signup">Register</a>
      </p>

      &lt;!&ndash; Social login &ndash;&gt;
      <p>or sign in with:</p>

      <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

    </form>
  </form>
</div>
</body>

-->
<div class="wrapper fadeInDown wsokosc">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
    <form>
      <form class="text-center border border-light p-5" action="#!" autocomplete="off">

        <p class="h4 mb-4">Login</p>

        <input type="email" name="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" autocomplete="off" [(ngModel)]="email"
        >

        <input type="password" name="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" autocomplete="off" [(ngModel)]="password">

        <div class="d-flex justify-content-around">
          <div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
              <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
          </div>

        </div>

        <button class="btn btn-info btn-block my-4" type="submit" (click)="login()" >Sign in</button>

        <p>Not a member?
          <a href="/signup">Register</a>
        </p>
      </form>
    </form>
  </div>
</div>
